

.contact {
    border-radius: 6px;
    align-self: auto;
    display: flexbox;
    background: rgb(212, 212, 212);
    padding: 2px 6px;
    margin: 6px 0;
 }
 
 .contact a {
    font-family: 'Times New Roman', Times, serif;
    color: rgb(68, 128, 8);
    text-decoration: underline solid green;  
 }