h2{
    font-family: poppins;
    font-size: 22px;
   display:inline;
    width: 10%;
    margin: auto;
    line-height: 30px;
    font-weight: 600;
    color:#007BFF;
    text-align: center;
    
    
   
}


h3{
    font-size: 20px;
    font-family: inter;
    color: #007BFF;
    line-height: 20px;
    margin-top: 43px;
    text-indent: 40px;

    
}

p{
    font-size: 12px;
    font-family: inter;
    text-indent: 40px;
}

.right img {
    margin-top: 9px; 
    margin-left: 800px; 
  }
  